{% extends 'base.html.twig' %}

{% block nav %}modifier produit{% endblock %}
{% block titleSearch %} {% endblock %}
{% block undersearch %} {% endblock %}
{% block blog %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center mb-4">Modifier produit</h1>

                {{ form_start(form, {'attr': {'class': 'row g-3'}}) }}

                <div class="mb-3 col-md-6">
                    {{ form_row(form.nomProd, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="mb-3 col-md-6">
                    {{ form_row(form.prixProd, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="mb-3 col-12">
                    {{ form_row(form.descProd, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="mb-3 col-md-6">
                    {{ form_row(form.statutProd, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="mb-3 col-md-6">
                    {{ form_row(form.image, {'attr': {'class': 'form-control'}}) }}
                </div>

                <img id="image-preview" src="{{ asset('images/' ~ produits_info.image) }}" alt="Product Image" class="mt-3" style="width: 200px; height: auto;">

                <div class="mt-4">
                    {{ form_end(form) }}
                    <a href="{{ path('app_produits_info_index') }}" class="btn btn-secondary">Back to Products</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block whiteblocs %}{% endblock %}


{% block causes %}{% endblock %}
{% block donations %}{% endblock %}

{% block pictures %}{% endblock %}

{% block events %}{% endblock %}

{% block volunteer %}{% endblock %}
{% block orangeblkocs %}
   
{% endblock %}