{% extends 'base_admin.html.twig' %}
 {% block sidebar %}

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
<div class="sidebar-brand-icon">
    <img src="{{ asset('images/logor.png') }}" alt="Your Logo" style="width: 50px; height: auto;">
</div>

                <div class="sidebar-brand-text mx-3"> CommuniHelp</div>
            </a>



            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            

            <!-- Nav Item - Pages Collapse Menu -->
               <li class="nav-item">
    <a class="nav-link collapsed" href="{{ path('app_findadmin') }}">
        <span>Évènements</span>
    </a>
</li>
              
           <li class="nav-item">
    <a class="nav-link collapsed" href="{{ path('app_admin_article') }}">
        <span>Appels aux dons</span>
    </a>
</li>
    
           <li class="nav-item">
    <a class="nav-link collapsed" href="{{ path('app_admin_produit') }}">
        <span>Boutique</span>
    </a>
</li>
                  <li class="nav-item">
                <a class="nav-link collapsed" href="#" >
                    
                    <span>Blog santé</span>
                </a>
              
            </li>
            
            

            <!-- Nav Item - Utilities Collapse Menu -->
           

            <!-- Divider -->
            <hr class="sidebar-divider">

           

        </ul>
        <!-- End of Sidebar -->


  {% endblock %}
{% block dashboard %}
<div class="table-responsive">
    <table class="table table-bordered table-hover" style="background: linear-gradient(45deg, #2980B9, #6DD5FA); color: black;">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Lieu</th>
                <th>Date</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for e in ev %}
            <tr>
                <td style="color: black;">{{ e.nom }}</td>
                <td style="color: black;">{{ e.lieu }}</td>
                <td style="color: black;">{{ e.date }}</td>
                <td style="color: black;">
                    <img src="uploads/{{ asset(e.path) }}" class="img-fluid" alt="" style="max-height: 50px;">
                </td>
                <td style="color: black;">
                    <form method="post" action="{{ path('admin_delete', {'id': e.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette carte ?')">
                        <button type="submit" class="btn btn-link" style="padding: 0; background: none; border: none;">
                            <i class="fas fa-trash-alt" style="color: red; font-size: 1.5em;" title="Supprimer"></i>
                        </button>
                    
                    <a href="{{ path('app_event_editad', {'id': e.id}) }}" title="Modifier">
                        <i class="fas fa-edit" style="color: blue; font-size: 1.5em;"></i>
                    </a>
                </td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="text-center mt-4">
    <a href="{{ path('app_findpar') }}" class="btn btn-primary btn-lg">Voir Participants</a>
</div>


{% block charts %}
  {% endblock %}
  {% block contenu %}
  {% endblock %}
   {% block footer %}
  {% endblock %}
  
{% endblock %}