{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var stripe = Stripe('{{ pk_test_51OCKLhCxG8BbbtlfukrZQ8ihHEGtJ1MmsZpvHJUj9hD66icKGZemjV9T6bebA8H2k3WPPBgmTo5Xt6FIPwrIwLyE00y29S0Dda }}');
            var elements = stripe.elements();

            var card = elements.create('card');
            card.mount('#card-element');

            var form = document.getElementById('payment-form');

            form.addEventListener('submit', function (event) {
                event.preventDefault();

               stripe.confirmCardPayment('{{ sk_test_51OCKLhCxG8BbbtlfhknuEejqO5wg1yAPQjFc100a3UnuPbNIsnYJ47xJOy4rIzzZ1zyVVC6D41OfCl141EUOC8Zb00qQAPNb8f }}', {

                    payment_method: {
                        card: card,
                    },
                }).then(function (result) {
                    if (result.error) {
                        var errorElement = document.getElementById('card-errors');
                        errorElement.textContent = result.error.message;
                    } else {
                        console.log(result.paymentIntent);
                    }
                });
            });
        });
    </script>
{% endblock %}
{% block volunteer %}{% endblock %}


{% block orangeblkocs %}
<div class="hero-wrap" style="background-image: url('{{ asset('images/bg_7.jpg') }}');" data-stellar-background-ratio="0.5">      
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Chaque acte compte, chaque cœur fait la différence !</h1>
                <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="https://vimeo.com/45830194" class="btn btn-white btn-outline-white px-4 py-3 popup-vimeo"><span class="icon-play mr-2"></span>Voir la vidéo</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block causes %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-4">Faire un don</h1>
                {{ form_start(form, {'attr': {'class': 'row g-3', 'novalidate': 'novalidate', 'enctype': 'multipart/form-data'}}) }}
                    <div class="col-md-12">
                        {{ form_row(form.montant, {'attr': {'class': 'form-control', 'placeholder': 'Montant'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.ville, {'attr': {'class': 'form-control', 'placeholder': 'Ville'}}) }}
                    </div>
                    <div class="col-md-6">
    <label for="carteBancaire">Carte bancaire</label>
         {# Manually render the carteBancaire field #}
        {{ form_widget(form.carteBancaire, {'id': 'carteBancaire', 'attr': {'class': 'form-control'}}) }}
    </div>
    <div id="card-errors" role="alert"></div>
</div>

                    <div class="col-md-12 d-flex justify-content-between mt-3">
                        <a href="{{ path('app_donationforms_index') }}" class="btn btn-secondary">Annuler</a>
                        <button id="submit-button" class="btn btn-primary">Envoyer</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block donations %}{% endblock %}
{% block pictures %}{% endblock %}
{% block blog %}{% endblock %}
{% block events %}{% endblock %}
