{% extends 'base_admin.html.twig' %}
 {% block sidebar %}
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3"> Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" >
                    
                    <span>Evennement</span>
                </a>
              
            </li>
              <li class="nav-item">
                <a class="nav-link collapsed" href="#" >
                    
                    <span>Appel au dons</span>
                </a>
              
            </li>
             <li class="nav-item">
                <a class="nav-link collapsed" href="#" >
                    
                    <span>Boutique</span>
                </a>
              
            </li>
                  <li class="nav-item">
                <a class="nav-link collapsed" href="#" >
                    
                    <span>Bloc santé</span>
                </a>
              
            </li>
            
            

            <!-- Nav Item - Utilities Collapse Menu -->
           

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="login.html">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Mot de passe oubliée</a>
                        <div class="collapse-divider"></div>
                    
                       
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
                <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
                <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
            </div>

        </ul>
        <!-- End of Sidebar -->


  {% endblock %}
  {% block dashboard %}
<div class="table-responsive">
    <table class="table table-bordered table-hover" style="background: linear-gradient(45deg, #007bff, #6c757d); color: black;">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom_Participant</th>
          <th>Num_Participant</th>
          <th>Email_Participant</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for part in p %}
          <tr>
            <td>{{ part.id_p }}</td>
            <td>{{ part.nom }}</td>
            <td>{{ part.num }}</td>
            <td>{{ part.mail }}</td>
            <td>
              <!-- Icône de suppression -->
             <form method="post" action="{{ path('app_deletepar', {'id': part.id_p}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette carte ?')">
                        <button type="submit" class="btn btn-link" style="padding: 0; background: none; border: none;">
                            <i class="fas fa-trash-alt" style="color: red; font-size: 1.5em;" title="Supprimer"></i>
                        </button><br>
                        
                   
                   
                </td>
                
                </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="text-center mt-4">
    <a href="{{ path('send_emails_periodically') }}" class="btn btn-lg" style="background: linear-gradient(to right, #007bff, #6c757d); color: white;">Envoyer des emails périodiquement</a>
</div>

</div>
  {% block charts %}
  {% endblock %}
  {% block contenu %}
  {% endblock %}
   {% block footer %}
  {% endblock %}
  
   {% endblock %}